.img {
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}


.caixa{
    background-color: #3f51b5c2;
}

.titulo{
   color: white !important;
   font-weight: bold !important;
   text-align: center;
}

.botao{
    border-color: white !important;
    background-color: #8612565e !important;
    color: white !important;
}

.postagens{
    background-color: white;
}

.text-decorator-none{
    text-decoration: none;
}